<!doctype html>
{%extends"layout.html"%}
{%block body_content%}
<div class="container-fluid text-center">
    <section >
        <div class="row">
            <div class="col col-sm-4">
                <h3>Submit an Anonymous Recipe</h3>
                <p>
                    <form method="POST" action="" novalidate>
                        {{recipe_form.hidden_tag()}}
                        <p>
                            {{recipe_form.recipe_name.label}}<br>
                            {{recipe_form.recipe_name}}
                        </p>
                        <p>
                            {{recipe_form.recipe_method.label}}<br>
                            {{recipe_form.recipe_method}}
                        </p>
                        <p>{{recipe_form.submit()}}</p>
                    </form>
                </p>
            </div>
            <div class="col col-sm-4">
                <h3>Submit an Anonymous Ingredient</h3>
                <p>
                    <form method="POST" action="" novalidate>
                        {{ingredient_form.hidden_tag()}}
                        <p>
                            {{ingredient_form.ingredient_name.label}}<br>
                            {{ingredient_form.ingredient_name}}
                        </p>
                        <p>
                            {{ingredient_form.ingredient_type.label}}<br>
                            {{ingredient_form.ingredient_type}}
                        </p>
                        <p>{{ingredient_form.submit()}}</p>
                    </form>
                </p>
            </div>
            <div class="col col-sm-4">
                <h3>Login</h3>
                <p>FILLER</p>
            </div>
        </div>
    </section>
</div>
{%endblock body_content%}